{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./",
      }
    }],
    ["import", {
      "libraryName": "antd",
      "style": "css"
    }]
  ]
}
